

@font-face {
    font-family: ReadexPro;
    src: url('font/static/ReadexPro-Regular.ttf');
  }
  
  main {
    font-family: ReadexPro , 'Segoe UI';
  }

  footer {
    font-family: ReadexPro , 'Segoe UI';
  }




  
  